<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="">
	<title>Страница не найдена</title>
	<link rel="shortcut icon" href="images/faviсon.png" type="image/png">
	<style>
	body {
	 background-color: #2979ff;
	 color: #FFFFFF;
	}
	span {
	font-size: 10em;
	}
	.eror404 {
	width: 300px;
	margin: auto;
	}
	</style>
</head>
<body>
<div class="eror404">
 <center><span>404</span>
 <h2><a href="/">Вернуться на главную</a></h2>
<h1>PAGE NOT FOUND</h1></center>
</div>
</body>
</html>